<div align="center" class="contact_form">
  <div class="contact_form_title">Let's do it!</div>
  <div id="form"></div>
  <%= simple_form_for @contact, :validate => true, :html => {:class => 'form-horizontal' }, :url => { :action => "create" , :anchor => "form" } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
